.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  background-color: #567067 !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #8f070d !important;
}
.css-o69gx8-MuiCardMedia-root {
  height: 100%;
}
.css-1k3rxse-MuiAvatar-root :hover {
  cursor: pointer;
  opacity: 0.8;
}
.groupBtn {
  display: flex;
  justify-content: space-around;
}
.btnHandlePet:hover {
  width: max-content;
  background-color: bisque !important;
  border-radius: 3px;
  cursor: pointer;
}
